@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One PreQual Way<br />
    Nottingham, NG1<br />
    <abbr title="Phone">P:</abbr>
    01234567890
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@prequal.com">Support@prequal.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@prequal.com">Marketing@prequal.com</a>
</address>
